*{
	margin: 0 auto;
	padding: 0;
}
nav>ul{
	height: 30px;
	width:60%;
	line-height: 30px;
	background-color: lightgray;
	display: flex;
	list-style: none;
	margin-top:20px;
	
}
nav>ul>li{
	

}
.carousel-item{
	height: 400px;
}